###########################
# Unreal Genereated Files #
###########################
**/Build
**/Binaries
**/DerivedDataCache
**/Intermediate
**/Saved
**_BuiltData.uasset


**/Content/StarterContent/

#######################
# VC Genereated Files #
#######################
*.VC.db
